@import '~antd/lib/style/themes/default.less';
@import '../assets/variables.less';

.@{prefix-cls}-sticky-footer {
  text-align: end;
  padding: 10px 16px;
  border-top: 1px solid rgba(0, 0, 0, 0.06);
  position: sticky;
  background: #fff;
  bottom: 0;
  z-index: 10;
}
.@{prefix-cls}-sticky-footer-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
